<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Onboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="fullscreen-image">
    <div class="onboard_card">
      <ion-card class="onboard_sec1">
        <ion-card-header>
          <ion-card-title>FloatEV</ion-card-title>
          <ion-card-subtitle>
            Your Electronic conversion Platform
          </ion-card-subtitle>
        </ion-card-header>















      </ion-card>
    </div>
  </div>
</ion-content>
