.fullscreen-image {
    height: 100%;
    width: 100%;
    color:rgb(215, 109, 123);
    background-image: url(../../assets/images/home_banner.png);
    background-size: cover;
  }

  .onboard_back{
    height: 100%;
    width: 100%;
    color:rgb(215, 109, 123);
    background-image: url(../../assets/images/home_banner.png);
    background-size: cover;
    .onboard_card{
        position: relative;
        top:50%;
        // bottom:50%;
        .onboard_sec1{
          background-color: rgb(186, 129, 244);
        }
    }
}