<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-col size-md="6" offset="3">
        <ion-card-content>
          Metrics performance Dashboard Float's recommendation engine enables
          tracking of vehicle usage, ownership &amp; service costs, fuel costs,
          emissions.Its Telematics IoT enabled OBD device &amp; dashcam to
          connect directly to the vehicle to pull data.
        </ion-card-content>
      </ion-col>
    </ion-card>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
